<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h1>Productos</h1>


    <section class="products">
        <% productos.forEach(producto => { %>
            <article>
                <h2>
                    <%= producto.title %>
                </h2>
                <p>
                    <%= producto.description %>
                </p>
            </article>
            <%})%>
    </section>
    </table>
</body>

</html>